{% extends 'awatax/base.html'%}

{% block content%}
<main id="main">
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-white">About Us</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li class="text-white" >About Us</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= About Section ======= -->
<section id="abouts" class="about pt-5 pb-5 mb-5 mt-3">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3>Our Company <span>Profile</span></h3>
      <p class="text-danger">"Service with Excellence."</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="static/assets/img/about/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 content d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <ul>
          <li>
            <i class="bx bx-store-alt"></i>
            <div>
              <h5>What We Do</h5>
              <p>We deal in all kinds of engineering works mechanical and electrical engineering, architectural engineering, civil engineering, brokerage of land, cars and buildings. We offer business loans allover Uganda, we also welcome all customers selling and buying land, cars, motorcycles and all kinds of property.</p>
            </div>
          </li>
          <li>
            <i class="bx bx-images"></i>
            <div>
              <h5>Our Location</h5>
              <p>We are located in Masaka city Elgin Street besides Kiwumulo arcade, visit our offices for more information and direct contact.<br><br>Contact Us: +256(0)-707-681-497/ +256(0)-786-999-591</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
</main><!-- End #main -->



{% endblock %}