{% extends 'awatax/base.html'%}

{% block content%}
<main id="main">
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-dark font-weight-bolder">Projects Completed</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Projects</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services mb-5 pb-5">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3>Our <span>Projects</span></h3>
      <p>Both our ongoing and fully completed projects we have worked on over our years of service.</p>
    </div>

    <div class="row pt-4">
      <div class="col-lg-12 col-md-12 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-muted text-center" scope="col">COUNTRY-AREA</th>
              <th class="text-muted text-center" scope="col">PROJECT</th>
              <th class="text-muted text-center" scope="col">CLIENT</th>
            </tr>
          </thead>
          <tbody class="text-muted">
            <tr>
              <td>UGANDA-Masaka City</td>
              <td>Construction of School Buildings & Renovation</td>
              <td>Some School</td>
            </tr>
            <tr>
              <td>UGANDA-Masaka City</td>
              <td>Installing and repairing of a Water Supply System</td>
              <td>Masaka City</td>
            </tr>
            <tr>
              <td>UGANDA-Masaka City</td>
              <td>Installation and Repairing of Air Conditioning System</td>
              <td>Health Center IV</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
</main><!-- End #main -->



{% endblock %}